// Changes have been made
.business-container {
  background-color: v.$base-color-2;
}
@media screen and (min-width: 992px) {
  .business-container {
    .padded-container-left {
      margin-right: -45px;
    }
    .padded-container-right {
      margin-right: -90px;
    }
  }
}
@media screen and (min-width: 1300px) {
  .business-container {
    h2 {
      font-size: 40px !important;
    }
  }
  .business-container {
    background-image: url("../../src/assets/images/Group\ 676.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (width>=1800px) {
  .business-container {
    h2 {
      font-size: 55px !important;
    }
    img{
      width: 607px !important;
       height: 343px !important;
    }
  }
  .business-container {
    .row {
      gap: 47px !important;
    }
  }
  .business-container {
    padding-left: 180px !important;
    padding-right: 180px !important;
    padding-top: 60px !important;
    padding-bottom: 68px !important;
    button{
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 2px !important;
    }
    .padded-container-left {
      gap: 20px !important;
    }
    .padded-container-right{
      padding-top: 34px !important;
      padding-right: 75px !important;
    }
  }
}
