.feedback-card:hover {
  border: none;
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}
.feedback-card {
  width: 450px;
  border-radius: 2px;
  background-image: url("../../src/assets/images/quotation.jpg");
  background-repeat: no-repeat;
  background-position: 14px 15px;
  background-size: 100px auto;
}
.feedback-container-row-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  overflow-x: auto;
  .feedback-container-row-item {
    float: 0 0 auto;
  }
}
.carousel-indicators{
    bottom: -34px !important;
}
.carousel-indicator-btn{
    height: 10px !important;
    width: 10px !important;
    border-radius: 100% !important;
    background-color: #E9E9E9 !important;
}
@media screen and (max-width: 450px){
    .feedback-card{
        width: 350px !important;
    }
}
@media screen and (min-width: 1300px) {
  .feedback-container{
    h2 {
      font-size: 40px !important;
    }
  }
}
@media screen and (width>=1800px) {
  .feedback-container{
    h2 {
      font-size: 55px !important;
    }
  }
}