@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  @include m.base-styling();
}
@font-face {
  font-family: "Poppins"; /* Choose a name for your font */
  src: url("../assets/fonts/PoppinsFont/Poppins/Poppins-Black.ttf")
    format("ttf");
  font-weight: normal; /* Or specify the weight if your font has multiple */
  font-style: normal; /* Or specify 'italic' if applicable */
}
li {
  list-style: none;
}
.collapse {
  flex-grow: 0;
}
body {
  padding-left: 3px !important;
  padding-right: 3px !important;
  overflow-x: unset;
  font-family: "Poppins", sans-serif !important;
}
.validation-text-name,
.validation-text-email {
  visibility: hidden;
}
.demo-toast {
  width: fit-content;
  background-color: greenyellow;
  font-size: 1.2rem;
  padding: 20px;
  border-radius: 1rem;
  text-align: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.demo-toast-animate-in {
    animation: demo-toast-animate 1.5s 1 forwards;
}

.demo-toast-animate-out {
   animation: demo-toast-animate 1.5s 1 forwards;
    animation-direction: reverse;
}

@keyframes demo-toast-animate {
  from{
    bottom: -20%;
  }
  to {
    bottom: 200px;
  }
}
@media screen and (width<=450px) {
  p {
    font-size: 14px;
  }
  .marketing-container {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
}
@media screen and (min-width: 1300px) {
  h1 {
    font-size: 70px !important;
  }
  body {
    background-image: url("../../src/assets/images/base-bg.png");
  }
}
@media screen and (width>=1800px) {
  h1 {
    font-size: 90px !important;
  }
}
