.header-navbar-lists {
  ul {
    li {
      a {
        font-size: 22px;
      }
      a:hover {
        text-decoration: underline v.$special-color-1 3px;
        text-underline-offset: v.$button-radius-2;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
@media screen and (width<=450px) {
  .navbar-nav{
    margin-left: 0 !important;
    gap: 0 !important;
    .nav-link{
      font-size: 14px !important;
    }
  }
}
@media screen and (min-width: 750px) {
  .navbar-nav{
    margin-left: 0 !important;
    gap: 0 !important;
    .nav-link{
      font-size: 18px !important;
    }
  }
}
@media screen and (min-width: 992px) {
  .navbar-nav{
    gap: 10px !important;
  }
  .header-navbar-lists {
    ul {
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (min-width: 1300px) {
  .navbar {
    .header-navbar-lists {
      ul {
        li {
          a {
            font-size: 22px;
          }
        }
      }
    }
    .container-fluid {
      padding-left: 120px;
      padding-right: 120px;
    }
  }
}
@media screen and (min-width: 1800px) {
  .header-lets-talk-btn{
    padding: 26px 30px ;
  }
  .navbar {
    padding-top: 58px !important;
    padding-left: 125px !important;
    padding-right: 127px !important;
    .navbar-collapse{
      padding-left: 16px;
    }
    .navbar-container {
      padding-left: 0 !important;
      padding-right: 0 !important;
      img{

      }
      .header-navbar-lists{
        gap: 105px !important;
        form{
          gap: 1.5rem !important;
        }
      }
    }
  }
  .navbar-nav {
    gap: 48px !important;
    .nav-link {
      font-size: 24px !important;
      font-weight: 400 !important;
    }
  }
}
