.optimising-container {
  .row {
    gap: 8px;
  }
}
.optimising-card {
  .card-top {
    img {
      width: 45px;
      height: 45px;
    }
  }
}
.optimising-container img {
  width: 131px;
}
@media screen and (width<=450px) {
    .optimising-container {
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    .row {
      gap: 1.5rem !important;
    }
  }
  .optimising-card {
    gap: 8px !important;
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
  }
}
@media screen and (min-width: 750px) {
  .optimising-container {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    .row {
      gap: 24px;
      .col-12{
        width: 48% !important;
      }
    }
  }
  .optimising-card {
    width: fit-content;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    box-shadow: v.$box-shadow-type-1;
    .card-top {
      img {
        width: unset;
        height: unset;
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .optimising-container {
        padding-left: 80px !important;
    padding-right: 80px !important;
    .row {
      gap: 0px;
    }
  }
}
@media screen and (min-width: 1300px) {
  .optimising-container {
    margin-bottom: 2rem !important;
    h2 {
      font-size: 40px !important;
    }
    .row{
      .col-12{
        width: 25% !important;
      }
    }
  }
  .optimising-card {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    transition: transform 0.3s ease;
    box-shadow: none !important;
    &:hover {
      transform: scale(1);
      box-shadow: v.$box-shadow-type-1 !important;
      background-color: #fff;
      border-radius: 0.25rem;
      border-bottom: 2px solid v.$special-color-1;
    }
  }
  .optimising-container {
    padding-left: 120px !important;
    padding-right: 120px !important;
    .optimising-card {
      gap: 3rem !important;
      padding-top: 25px !important;
      .card-top {
        img {
          width: 45px;
          height: 45px;
        }
      }
    }
    .optimising-card1 {
      background-image: url("../../src/assets/images/one.jpg");
      background-repeat: no-repeat;
      background-position: 120px -40px; /* Centers the image */
      background-size: contain;
    }
    .optimising-card2 {
      background-image: url("../../src/assets/images/two.jpg");
      background-repeat: no-repeat;
      background-position: 120px 17px;
      background-size: 85px auto;
    }
    .optimising-card3 {
      background-image: url("../../src/assets/images/three.jpg");
      background-repeat: no-repeat;
      background-position: 120px 17px;
      background-size: 85px auto;
    }
    .optimising-card4 {
      background-image: url("../../src/assets/images/four.jpg");
      background-repeat: no-repeat;
      background-position: 120px 17px;
      background-size: 95px auto;
    }
  }
}
@media screen and (width>=1800px) {
  .optimising-container {
    h2 {
      font-size: 55px !important;
    }
    .row{
      .col-12{
        .card{
          gap: 91px !important;
          .card-body{
            gap: 21px !important;
          }
        }
      }
    }
  }
  .optimising-container {
    padding-top: 135px !important;
    padding-bottom: 195px !important;
    padding-left: 172px;
  }
  .optimising-container {
    h2 {
      padding-bottom: 37px;
    }
    .optimising-container__heading-para{
      width: 45% !important;
    }
    .optimising-card {
      width: 400px !important;
      height: 472px;
      padding: 56px 44px 98px 14px !important;
      .card-top {
        img {
          width: 74px;
          height: 76px;
        }
      }
      .card-body {
        .card-title {
          font-size: 24px;
          font-weight: 500;
        }
        p {
          font-size: 17px;
          font-weight: 400;
        }
      }
    }
    .optimising-card1 {
      background-position: 164px -59px;
    }
    .optimising-card2,
    .optimising-card3,
    .optimising-card4 {
      background-position: 186px 56px;
      background-size: 122px auto;
    }
  }
}
