.pricing-container {
  background-color: v.$base-color-2;
}
.pricing-container {
  .row .col-12 {
    .card {
      .card-top {
        p {
          color: v.$special-color-1;
        }
      }
    }
  }
}

.pricing-container .row .col-12 .card:hover .card-body p {
  color: v.$base-color-1;
}
.pricing-container .row .col-12 .card:hover .card-top p {
  color: v.$base-color-1;
}
.pricing-container {
  .pricing-card {
    transition: transform 0.3s ease;
    width: 18rem;
  }
  .pricing-card:hover {
    transform: scale(1.1);
    background-color: v.$special-color-1;
    color: v.$base-color-1;
  }
  .pricing-card:hover button {
    background-color: #fad725;
    color: black;
    border: none;
  }
}
@media screen and (width<=450px) {
    .pricing-container {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    .row {
      padding-top: 2rem !important;
      padding-bottom: 2rem !important;
    }
    .pricing-card {
      transition: none !important;
      transform: none !important;
      button{
        padding: 14px 28px !important;
      }
    }
  }
}
@media screen and (min-width: 750px) {
  .pricing-container{
    .row{
      padding-top: 0 !important ;
      padding-bottom: 0 !important;
      .col-12{
        width: 33% !important;
        .pricing-card:hover{
          transform: scale(1) !important;
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .pricing-container{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 1300px) {

  .pricing-container{
    h2 {
      font-size: 40px !important;
    }
    .row{
      .col-12{
        width: unset !important;
      }
    }
  }
}
@media screen and (width>=1800px) {
  .pricing-container{
    padding-bottom: 4rem !important;
    h2 {
      font-size: 55px !important;
    }
  }
  .pricing-container {
    .row{
      padding-top: 86px !important;
      .col-12{

        .pricing-card:hover{
          transform: scale(1.1) !important;
        }
      }
    }
    .pricing-card {
      padding: 65px 58px 79px 58px !important;
      width: 400px !important;
      // height: 523px !important;
      .card-top{
        gap: 34px !important;
      }
      .card-body{
        padding-top: 0 !important;
        .card-text{
          font-size: 17px;
          font-weight: 400;
        }
      }
      .dollar{
        font-size: 16px;
        font-weight: 400;
      }
      .month{
        font-size: 15px;
        font-weight: 400;
      }
      sup{
        top: -1.5rem !important;
      }
    }
  }
}