.pricing-container {
  background-color: v.$base-color-2;
}
.pricing-container {
  .row .col-12 {
    .card {
      .card-top {
        p {
          color: v.$special-color-1;
        }
      }
    }
  }
}

.pricing-container .row .col-12 .card:hover .card-body p {
  color: v.$base-color-1;
}
.pricing-container .row .col-12 .card:hover .card-top p {
  color: v.$base-color-1;
}
.pricing-container {
  .pricing-card {
    transition: transform 0.3s ease;
    width: 18rem;
  }
  .pricing-card:hover {
    transform: scale(1.2);
    background-color: v.$special-color-1;
    color: v.$base-color-1;
  }
  .pricing-card:hover button {
    background-color: #fad725;
    color: black;
    border: none;
  }
}
@media screen and (min-width: 1300px) {

  .pricing-container{
    h2 {
      font-size: 40px !important;
    }
  }
}
@media screen and (width>=1800px) {
  .pricing-container{
    h2 {
      font-size: 55px !important;
    }
  }
  .pricing-container {
    .pricing-card {
      width: 75%;
    }
  }
}