// Import all of Bootstrap’s CSS
@use "./mixins/mixins" as m;
@use "./variables/variables" as v;
@import "bootstrap/scss/bootstrap";
@import './hero.scss';
* {
  @include m.base-styling();
}
@font-face {
  font-family: "Poppins"; /* Choose a name for your font */
  src: url("../assets/fonts/PoppinsFont/Poppins/Poppins-Black.ttf")
    format("ttf");
  font-weight: normal; /* Or specify the weight if your font has multiple */
  font-style: normal; /* Or specify 'italic' if applicable */
}
li {
  list-style: none;
}
.collapse {
  flex-grow: 0;
}
body {
  padding-left: 3px !important;
  padding-right: 3px !important;
  overflow-x: unset;
}

.header-navbar-lists {
  ul {
    li {
      a {
        font-size: 22px;
      }
      a:hover {
        text-decoration: underline v.$special-color-1 3px;
        text-underline-offset: v.$button-radius-2;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
.marketing-container {
  img {
    width: 100px;
  }
}
.growth-container {
  .row {
    gap: 8px;
  }
  .growth-card {
    gap: 1.5rem !important;
    .card-top {
      img {
        width: 65px;
        height: 65px;
      }
    }
  }
}
.optimising-container {
  .row {
    gap: 8px;
  }
}
.optimising-card {
  .card-top {
    img {
      width: 45px;
      height: 45px;
    }
  }
}

.business-container,
.choose-us-container,
.pricing-container {
  background-color: v.$base-color-2;
}
.review-container {
  width: full;
  .review-container-inner {
    width: fit-content;
    border: 1px solid rgba(225, 225, 225, 1);
    gap: 20px;
    padding: 34px 44px;
    h4 {
      font-size: 34px;
      color: rgba(102, 101, 101, 1);
    }
    p {
      color: rgba(111, 111, 111, 1);
    }
  }
}
.pricing-container {
  .row .col-12 {
    .card {
      .card-top {
        p {
          color: v.$special-color-1;
        }
      }
    }
  }
}

.pricing-container .row .col-12 .card:hover .card-body p {
  color: v.$base-color-1;
}
.pricing-container .row .col-12 .card:hover .card-top p {
  color: v.$base-color-1;
}
.pricing-container {
  .pricing-card {
    transition: transform 0.3s ease;
    width: 18rem;
  }
  .pricing-card:hover {
    transform: scale(1.2);
    background-color: v.$special-color-1;
    color: v.$base-color-1;
  }
  .pricing-card:hover button {
    background-color: #fad725;
    color: black;
    border: none;
  }
}
.growth-card,
.choose-us-card,
.seo-card {
  transition: transform 0.3s ease;
}
.growth-card:hover,
.choose-us-card:hover,
.seo-card:hover {
  transform: scale(1.2);
  background-color: v.$base-color-1;
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}
.choose-us-card:hover,
.seo-card:hover {
  transform: scale(1.1);
}
.expert-card {
  height: fit-content;
  border-radius: 2px;
  transition: transform 0.3s ease;
  border: 1px solid rgba(239, 239, 239, 1);
}
.expert-card:hover {
  border: none;
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}
.feedback-card:hover {
  border: none;
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}
.expert-card:hover h5 {
  color: rgba(111, 119, 241, 1);
}
.optimising-container img,
.growth-container img,
.expert-container .expert-container-top-img {
  width: 131px;
}
.feedback-card {
  width: 450px;
  border-radius: 2px;
  background-image: url("../../src/assets/images/quotation.jpg");
  background-repeat: no-repeat;
  background-position: 14px 15px;
  background-size: 100px auto;
}
.feedback-container-row-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  overflow-x: auto;
  .feedback-container-row-item {
    float: 0 0 auto;
  }
}
.website-speed-container {
  input {
    background-color: rgba(242, 242, 242, 1);
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 2px;
    border: 1px solid rgba(223, 223, 223, 1);
  }
  button {
    @include m.button-base-styling();
  }
}
.carousel-indicator-btn{
  background-color: #E9E9E9 !important;
  height: 14px !important;
  width: 14px !important;
  border-radius: 100%;
}
.carousel-indicators{
  bottom: -50px !important;
}
.subsribe-container {
  background-color: rgb(246, 244, 244);
  .button-box {
    input {
      background-color: v.$base-color-1;
      border: 1px solid rgba(195, 198, 208, 1);
      outline: none;
      border-radius: v.$button-radius-2;
      padding: 15px 28px;
    }
    button {
      background-color: v.$special-color-1;
      color: v.$base-color-1;
      border-radius: v.$button-radius-1;
      width: fit-content;
      padding: 14px 28px;
    }
    button:hover {
      background-color: #5e68eb;
    }
  }
}
.footer-end-section {
  p,
  ul li {
    font-size: 14px;
  }
}
.font-special-color {
  color: v.$special-color-1;
}
.yellow-btn {
  background-color: #fad725;
  border: none;
  border-radius: v.$button-radius-2;
  width: fit-content;
  padding: 14px 22px;
}
.yellow-btn:hover {
  background-color: #efcd24;
}
.lets-talk-btn {
  border-radius: v.$button-radius-2;
  border: 1px solid black;
  width: fit-content;
  padding: 14px 28px;
  background-color: transparent;
}
.special-card {
  background-color: v.$special-color-1;
  color: v.$base-color-1;
}

.font-90px {
  font-size: 90px;
  font-weight: 700;
}
.font-size-20px {
  font-size: 20px;
  font-weight: 500;
}
.font-20px {
  font-size: 20px;
  font-weight: 400;
  color: rgba(114, 114, 114, 1);
}
.font-55px {
  font-size: 55px;
  font-weight: 500;
}
.w-98 {
  width: 98%;
}
.para-color1 {
  color: #727272;
}
.para-color2 {
  color: #828282;
}
@media screen and (min-width: 750px) {
  .optimising-container {
    .row {
      gap: 4px;
    }
  }
  .optimising-card {
    width: fit-content;
    .card-top {
      img {
        width: unset;
        height: unset;
      }
    }
  }
  .growth-container {
    .row {
      gap: 8px;
    }
    .growth-card {
      .card-top {
        img {
          width: unset;
          height: unset;
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .header-navbar-lists {
    ul {
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }
  .business-container {
    .padded-container-left {
      margin-right: -45px;
    }
    .padded-container-right {
      margin-right: -90px;
    }
  }
  .optimising-container {
    .row {
      gap: 0px;
    }
  }
  .website-speed-container {
    .website-speed-container__input1 {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 13px 23px;
    }
    .website-speed-container__input1::placeholder,
    .website-speed-container__input2::placeholder {
      color: #b6b6b6;
      font-size: 17px;
      font-weight: 400;
      line-height: 27px;
    }
    .website-speed-container__input2 {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 13px 23px;
    }
  }
}
@media screen and (min-width: 1300px) {
  .marketing-container {
    .row {
      .col-12 {
        width: 370px;
      }
    }
    .marketing-card {
      padding-bottom: 0px !important;
      .card-top {
        gap: 24px !important;
      }
      .card-body {
        gap: 0px !important;
      }
    }
  }
  h1 {
    font-size: 70px !important;
  }
  .optimising-container,
  .business-container,
  .choose-us-container,
  .seo-container,
  .website-speed-container,
  .pricing-container,
  .expert-container,
  .feedback-container,
  .subsribe-container {
    h2 {
      font-size: 40px !important;
    }
  }
  body {
    background-image: url("../../src/assets/images/base-bg.png");
  }
  .navbar {
    .header-navbar-lists {
      ul {
        li {
          a {
            font-size: 22px;
          }
        }
      }
    }
    .container-fluid {
      padding-left: 120px;
      padding-right: 120px;
    }
  }
  
  .marketing-container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .optimising-card {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1);
      box-shadow: v.$box-shadow-type-1;
      background-color: #fff;
      border-radius: 0.25rem;
      border-bottom: 2px solid v.$special-color-1;
    }
  }
  .optimising-container {
    padding-left: 120px;
    padding-right: 120px;
    .optimising-card {
      gap: 3rem !important;
      padding-top: 25px !important;
      .card-top {
        img {
          width: 45px;
          height: 45px;
        }
      }
    }
    .optimising-card1 {
      background-image: url("../../src/assets/images/one.jpg");
      background-repeat: no-repeat;
      background-position: 120px -40px; /* Centers the image */
      background-size: contain;
    }
    .optimising-card2 {
      background-image: url("../../src/assets/images/two.jpg");
      background-repeat: no-repeat;
      background-position: 120px 17px;
      background-size: 85px auto;
    }
    .optimising-card3 {
      background-image: url("../../src/assets/images/three.jpg");
      background-repeat: no-repeat;
      background-position: 120px 17px;
      background-size: 85px auto;
    }
    .optimising-card4 {
      background-image: url("../../src/assets/images/four.jpg");
      background-repeat: no-repeat;
      background-position: 120px 17px;
      background-size: 95px auto;
    }
  }
  .business-container {
    background-image: url("../../src/assets/images/Group\ 676.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .review-container {
    .review-container-inner {
      gap: 38px;
      padding: 54px 64px;
      flex-direction: row;
      h4 {
        font-size: 55px;
        color: rgba(102, 101, 101, 1);
      }
      p {
        color: rgba(111, 111, 111, 1);
      }
    }
  }
  .marketing-container {
    .marketing-card {
      box-shadow: 0px 17px 33px -14px rgba(2, 22, 5, 0.07);
      border: none;
    }
  }

  .subsribe-container {
    background-color: v.$base-color-1;
    .subscribe-container-inner {
      border-radius: v.$button-radius-2;
      background-color: rgba(250, 250, 250, 1);
      width: fit-content;
      padding: 40px 60px;
    }
  }
  .w-responsive-45 {
    width: 45%;
  }
  .w-responsive-40 {
    width: 40%;
  }
  .w-responsive-50 {
    width: 50%;
  }
  .w-responsive-75 {
    width: 75%;
  }
  .width-75 {
    width: 75%;
  }
  .font-size-20px {
    font-size: 20px;
  }
  .font-17px {
    font-size: 20px;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
  }
  .px-100px {
    padding-left: 100px;
    padding-right: 100px;
  }
  .px-34px {
    padding-left: 34px;
    padding-right: 34px;
  }
  .px-115px {
    padding-left: 90px;
    padding-right: 90px;
  }
  .h-334px {
    height: 300px;
  }
  .font-38px {
    font-size: 30px;
    font-weight: 400;
  }
  .pl-15px {
    padding-left: 15px;
    padding-right: 25px;
  }
  .heading-responsive-size {
    font-size: 55px;
    font-weight: 500;
  }
  .heading-responsive-size-50px {
    font-size: 50px;
    font-weight: 500;
  }
  .para-responsive-size {
    font-size: 20px;
    font-weight: 400;
  }
  .take-a-tour-btn {
    height: 65px;
  }
  .button-1 {
    padding: 20px 40px;
    background-color: v.$button-special-color;
  }
}
@media screen and (width>=1800px) {
  h1 {
    font-size: 90px !important;
  }
  .optimising-container,
  .business-container,
  .choose-us-container,
  .seo-container,
  .website-speed-container,
  .pricing-container,
  .expert-container,
  .feedback-container,
  .subsribe-container {
    h2 {
      font-size: 55px !important;
    }
  }
  .font-size-22px {
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
  }
  .font-size-49px {
    font-size: 49px;
    line-height: 59px;
    font-weight: 500;
  }
  .font-size-23px {
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;
  }
  .font-size-73px {
    font-size: 73px;
    font-weight: 600;
    line-height: 57px;
  }
  .optimising-container {
    padding-left: 172px;
  }
  .business-container {
    padding-left: 333px;
    padding-right: 333px;
    padding-top: 98px;
    padding-bottom: 98px;
  }
  .growth-container {
    img {
      width: 71px;
      height: 71px;
    }
  }
  .px-178px {
    padding-left: 178px !important;
    padding-right: 178px !important;
  }
  .pricing-container {
    .pricing-card {
      width: 75%;
    }
  }

  .footer-end-section {
    padding-left: 183px;
    padding-right: 183px;
  }
  .footer-hr {
    width: 88% !important;
  }
  .p-17px {
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
  }
  .marketing-card {
    h5 {
      font-size: 38px;
    }
    .card-top {
      gap: 38px !important;
    }
    img {
      width: 129px;
      height: 129px;
    }
    .marketing-card-bottom-arrow {
      display: block;
      height: 24px;
      width: 24px;
    }
  }
  .review-container {
    .review-container-inner {
      h4 {
        font-size: 73px;
        font-weight: 600;
      }
      p {
        font-size: 17px;
        font-weight: 400;
        line-height: 27px;
      }
    }
  }
  .optimising-container {
    h2 {
      padding-bottom: 37px;
    }
    .optimising-card {
      width: 400px !important;
      height: 472px;
      padding: 64px 34px 92px 34px !important;
      .card-top {
        img {
          width: 74px;
          height: 76px;
        }
      }
      .card-body {
        .card-title {
          font-size: 24px;
          font-weight: 500;
        }
        p {
          font-size: 17px;
          font-weight: 400;
        }
      }
    }
    .optimising-card1 {
      background-position: 164px -59px;
    }
    .optimising-card2,
    .optimising-card3,
    .optimising-card4 {
      background-position: 186px 56px;
      background-size: 122px auto;
    }
  }
  .business-container {
    .row {
      padding-left: 333px;
      padding-right: 333px;
    }
  }
  .website-speed-container-img {
    width: 794px !important;
    height: 556px !important;
  }
  .marketing-container {
    .row {
      .col-12 {
        .card {
          padding: 30px 18px 17px 25px !important;
          .card-top {
            gap: 30px !important;
            padding: 0px;
          }
          .card-body {
            p {
              padding-right: 24px;
            }
            padding-right: 0px;
            padding-left: 0px;
          }
        }
        align-items: start !important;
        width: 513px;
        height: 334px;
      }
    }
  }
}
