$base-color-1: white;
$base-color-2: #fafafa;
$special-color-1: #6f77f1;
$button-radius-1: 2.48px;
$button-radius-2: 4px;
$button-special-color: rgba(250, 215, 37, 1);
$box-shadow-type-1: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$box-shadow-type-2: 5px 5px 5px 6px rgba(240, 238, 238, 0.3);